.blue {
    border-bottom: 5px solid #00e1ff;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: #00e1ff;
}

.disabled {
    opacity: 0.6;
}

.disabled:active:disabled {
    /*border-style: outset;*/
    opacity: 0.6;
    cursor: auto;
}
